selenium:
  image: selenium/standalone-chrome-debug:2.48.2
  ports:
    - "5900:5900"
    - "4444:4444"

mongo:
  image: mongo
  ports:
    - "27017:27017"
  volumes:
    - vanguard_db:/data/db

api:
  build: .
  volumes:
    - .:/src
  ports:
    - "5000:5000"
  links:
    - mongo
